@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #ffa300;
    --color-primary: #fff;
    --color-hover-bg: #ffa300;
}

/*************** GERAL ***************/

body {
    background: url("imagens/fundo.jpg");
    background-size: cover;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header {
    width: 1347px;
    margin: auto;
}

footer {
    width: 1347px;
    margin: auto;
}


a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
}

a:hover, button:hover{
    opacity: 0.7;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
}



/*************** MENU PRINCIPAL ***************/

.logo-desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.logo-desc .logo-principal{
    width: 60px;
    height: 80px;
    border-radius: 8px;
    margin-top: 20px;
}

.logo-desc img {
    height: 30px;
}

.login-menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-left: 300px;
    
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    background-color: #d4d4d436;
    box-shadow: 0 0 1em #cccccca6;
    
}


.nav-list{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list li{
    letter-spacing: 3px;
    padding: 15px;
    cursor: pointer;
}


/*************** MENU DROPDOWN ***************/

.nav-list ul {
    background-color: rgba(255, 255, 255, 0.395);
    display: none;
    margin-top: 16px;
    position: absolute;
    z-index: 1;
}


.nav-list ul li a {
    color: #fff;
}

.nav-list ul li a:hover {
    opacity: 1;
}

.nav-list ul li {
    list-style-type: none;
    padding: 10px;
}

.nav-list ul li:first-child {
    border-top: 3px solid rgba(0, 0, 0, 0.701);
}

.nav-list ul li:hover {
    background-color: var(--color-bg);
}

.nav-list ul li:hover a{
    color: #fff;
    
}

.nav-list li:hover ul {
    display: block;
}

.todos-produtos {
    background-color: var(--color-bg);
}

.parts {
    display: flex;
    flex-direction: row;
}

/*************** MENU SCROLL ***************/

#menu-scroll {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    font-family: 'Lobster', cursive;
    z-index: -1;
}

.menu-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} 

#menu-scroll p {
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;

}

#menu-scroll.ativo {
    background-color: #282828;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 12vh;
    z-index: 1;
    font-family: 'Prompt', sans-serif;


}

#menu-scroll #input-principal {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 16px;
    padding-left: 10px;
}

.logo img {
    width: 55px;
    height: 60px;
}

.my-account a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffa300;
    font-weight: 600;
    letter-spacing: 3px;
    /* font-style: italic; */
}

.my-account img {
    width: 25px;
    height: 25px;
}

.logo-market img{
    width: 35px;
}

.botao-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao-nav p {
    display: inline;
    flex-direction: row;
}

/*************** MAIN ***************/

main {
    width: 1347px;
    margin: auto;
}

/*************** FRAME 1 ***************/

.frame1{
    display: flex;
    width: 97%;
    background-color: #d4d4d436 ;
    padding: 10px 10px;
    justify-content: space-around;
    margin: auto;
    gap: 12px;
    box-shadow: 0 0 1em #cccccca6;
}

.produto1{
    background-color: #d4d4d41a;
    padding: 10px;
    border-radius: 2px;
    width: 200px;
}

.produto1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
}

.produto1 a p {
    text-align: center;
}

.img-prod{
    width: 185px;
}


#preço{
    font-size: 30px;
    color: #ffa300;
    font-weight: bolder;
}

#btn-comprar{
    background: #ffa300;
    text-align: center;
    width: 190px;
    height: 25px;
    font-size: 12px;
}

/*************** FOOTER ***************/

/*************** LIST-FOOTER ***************/

.list-footer{
    display: flex;
    align-items: baseline;
    background-color: #282828;
    justify-content: space-around;
    padding-bottom: 20px;
}

.list-footer h1{
    color: #ffa300;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.list-footer p{
    color: #fff;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 2px;
}

.list-footer a{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
}

/************* BARRA-NOVID ****************/

.barra-novid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffa300;
    padding: 30px 30px;
    align-items: center;
}

.barra-novid .logo{
    width: 120px;
    height: 130px;
}

.barra-novid .img{
    width: 30px;
    height: 30px;
}

.imagens-barra-novid {
    display: flex;
    gap: 20px;
}

/************CADASTRO-NOVID ****************/

.cadastro-novid p{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 10px;
}

.cadastro-novid input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 8px;
}

.cadastro-novid button{
    background-color: black;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}

.input-cadastro-novid {
    display: flex;
    gap: 10px;
}



