h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
}

h2 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #fff;
}

h2 span {
    color: #ffa300;
}

h3 {
    font-size: 24px;
}

input {
    width: 140px;
    height: 30px;
    padding-left: 5px;
}

main {
    width: 1270px;
}

aside {
    width: 300px;
}

.conteudo-pcs {
    width: 920px;
}

a:hover {
    color: #ffa300;
    opacity: 1;
}

.geral {
    display: flex;
    gap: 50px;
}

.pesquisa-lateral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: uppercase;
}

aside .categorias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categorias .ativo {
    color: #ffa300;
}

aside .pcs-gamer {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    gap: 5px;
    margin-top: -7px;
}

aside .resolution {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resolution .span-check {
    padding-right: 5px;
}

.valores-faixa {
    display: flex;
    gap: 20px;
}

.faixa-preco p {
    color: #fff;
    font-weight: bold;
}

.filtro {
    background-color: #ffa300;
    width: 100%;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}

.filtro:hover {
    opacity: 0.8;
}

.filtro button {
    font-size: 16px;
    font-weight: bold;
}

.filtro button:hover {
    opacity: 1;
}