body {
    background-image: url('../../imagens/fundo.jpg');
    background-size: cover;
}

.container{
    margin: 0 180px;
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.container img{
    width: 600px;
}

.produto{
    display: flex;
    justify-content:center ;
}

.imagens_prod{
    background: rgba(255, 255, 255, 0.103);
    padding: 0px 40px;
}

.blocoValores{
    max-width: 700px;

    padding: 0px 50px;
}

.descricao{
    font-size: 44px;
}

.comprar{
    justify-content: space-around;
    display: flex;
}

.comprar img{
width: 24px;
justify-content:first baseline;
}

.comprar button{
    margin-left: 30px;
    margin-top: 77px;
    height: 63px;
    width: 230px;
    background-color: orange;
    border-radius: 10px;
    font-size: 26px;
}

.preco_parc{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}

.preco{
    padding-top: 50px;
}

.preco p{
    color: white;
    font-size: 30px;
}

.preco h2{
    font-weight: bolder;
    font-size: 66px;    
    color: orange;
}


