body {
    background-image: url('../../imagens/fundo.jpg');
    background-size: cover;
}

main {
    width: 100%;
    max-width: 1024px;
}

.container{
    color: rgb(255, 255, 255);
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.produto{
    display: flex;
    justify-content:center ;
    width: 1000px;
}

.imagens_prod{
    background: rgba(255, 255, 255, 0.103);
    padding: 0px 40px;
    width: 100%;
    border-radius: 10px;
}

.blocoValores{
    width: 100%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

.descricao{
    font-size: 35px;
}

.comprar{
    justify-content: space-around;
    display: flex;
}

.comprar img{
width: 21px;
justify-content:first baseline;
}

.comprar button{
    margin-left: 30px;
    margin-top: 40px;
    height: 63px;
    width: 177px;
    background-color: orange;
    border-radius: 10px;
    font-size: 21px;
}

.preco_parc{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.preco{
    padding-top: 30px;
}

.preco p{
    color: white;
    font-size: 20px;
}

.preco h2{
    font-weight: bolder;
    font-size: 45px;    
    color: orange;
}


.frete{
    font-size: 20px;
}